.navbar-item-container {
  flex-grow: 1;
  text-decoration: none;
}

.navbar-item {
  min-width: 5.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-item-image {
  margin-bottom: 1rem;
}

.navbar-item-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(83, 86, 92);
}
